.checkout-form-title {

    padding-top: 3rem;

}

.checkout-form-title h6 {
    color: #383838;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #E0E0E0;

}

.order-summary {

    width: 368px;
    height: 100%;
    border: 1px solid #E0E0E0;
    background-color: #F7F7F7;
    margin-top: 3rem;
    border-radius: 8px;

}

.padding-summary{

    padding-top: 3rem;
    padding-bottom: 3rem;

}

.form-control {
    width: 370px;
    height: 60px;
}

.form-select {
    width: 370px;
    height: 60px;
}

.exampleFormControlTextarea1 {

    width: 768px;
    height: 120px;

}

.order-summary h5 {
    text-align: center;
    font-size: 24px;
    color: #383838;
    padding-top: 2rem;
}

.orderrow {

    border-bottom: 1px solid #E0E0E0;
    padding: 2rem;
    margin: 0px !important;
    font-size: 18px;

}

.subtotal-sec {

    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;

}

.subtotal-sec span {

    font-size: 18px;
    font-weight: 500;
}

.subtotal-sec p {

    float: right;
    font-size: 18px;
    font-weight: 500;

}

.tax-sec {

    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E0E0E0;

}

.tax-sec span {

    font-size: 18px;
    font-weight: 500;
}

.tax-sec p {

    float: right;
    font-size: 18px;
    font-weight: 500;

}

.total-sec {


    padding: 2rem;
    border-bottom: 1px solid #E0E0E0;
}

.total-sec span {

    font-size: 20px;
    font-weight: 500;
}

.total-sec p {

    float: right;
    font-size: 24px;
    font-weight: 600;

}

.payment-sec {


    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5re;    
}

.payment-sec span {

    font-size: 20px;
    font-weight: 600;
}

.check-payment-method{


padding-top: 1rem;

}

.cash-label, .credit-label{


    font-size: 18px;
}

.cash-label label input {

    margin-right: 10px;
}
.credit-label label input {

    margin-right: 10px;
}

.Checkout-btn{
    width: 315px;
    height: 50px;
    /* UI Properties */
    background: #95D354 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: 0px;
    color: white;
    margin-top: 5rem;
}





.cardnewsletter{
    margin-top: 3.7rem;
    width: 500px;
}

.join-btn{
    background-color: #383838  !important;
    color: white;
    font-weight: 700;
    width: 105px;
    height: 50px;
    border-radius: 8px;
    border: 0px;
    position: absolute;
    right:8%;    

}


.blue-banner2  {

    background-color: #4878E6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 196px;

}

.grid-layouts{

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
}


@media (max-width: 480px) {

    .padding-summary{

        padding-top: 1rem;
        padding-bottom: 1rem;
    
    }

    .payment-sec {


        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 2rem;    
    }

    .checkout-form-title{

        justify-content: center;
        align-items: center;

    }

    .checkout-form-title form input{

        width: 100%;
    }
    .checkout-form-title form select{

        width: 100%;
    }

    #exampleInputnote{

        width: 100%;
    }


    .order-summary {

        width: 100%;
        height: auto;
        border: 1px solid #E0E0E0;
        background-color: #F7F7F7;
        margin-top: 0rem;
        border-radius: 8px;
   
    
    }

    .Checkout-btn{
        width: 100%;
        height: 50px;
        /* UI Properties */
        background: #95D354 0% 0% no-repeat padding-box;
        border-radius: 5px;
        border: 0px;
        color: white;
        margin-top: 2rem;
    }

    .full-height-blue{

        height: 100%;
    }
}


